*{
  margin: 0;
  padding: 0;
  font-family: "poppins",sans-serif;
}
.Welcome{
  font-size: 30px;
  margin-left: -75px;
}
.bodyTag {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/HomeBack.jpg);
  backdrop-filter: blur(3px);
}
.hTag{
  text-align: center;
  color:#e2e2e2;
}

table,th,tbody,td{
  border:1px solid black;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  padding:10px;
}
table{
  width: 100%;
}
.AH{
  color: purple;
  font-family: cursive;
  transform: rotate(-12deg);
  font-size: 40px;
}
.SH{
  color: rgb(216, 84, 84);
  font-family: cursive;
  font-size: 40px;
  margin-left: -15px;
  transform: rotate(-10deg);
}
.BankNameH{
  display: flex;
  margin-left: 30px;
}
.subH{
  margin-left: 20px;
  margin-top: 6px;
  font-size: 15px;
  color: blueviolet;
  font-weight: 700;
}

.headerTag{
  background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
  height: 70px;
  position: relative;
  width: 100%;
}
.Logout{
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100px;
}
.Logout a{
  color: white;
  text-decoration: none;
}

.navlinks{
  color: black;
  padding: 10px;
  font-weight: 500;
  font-family: "poppins",sans-serif;
}
.navButtons{
  margin-left: 10px;
  margin-right: 30px;
}
.navMain{
  display: flex;
  margin-right: 40px;
}
.navMain li{
  list-style: none;
  font-size: 18px;
  margin-top: 15px;
}
.navMain li a{
  text-decoration: none;
}
.Subheader{
  padding-left: 570px;
  background-color: darkblue;
}
.nav-pills .nav-item a{
  color: white;
} 
.nav-pills{
margin-left:-90px;
}
.home:hover,.transfer:hover,.deposite:hover,
.balanceChek:hover,.passbook:hover,.settings:hover{
background-color:blue;
border:none;
outline:none;
border-radius:5px;
}
.NoData{
color:black;
font-size:24px;
}
.updateButton a{
color:white;
text-decoration:none;
}